@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body {
    height: 100%;
    font-size: 12px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
    font-weight: 400;
}

html {
    height: 100%;
    box-sizing: border-box;
}

#app {
    height: 100%;
    background: #f2f2f2;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.no-padding {
    padding: 0px !important;
}

.padding-content {
    padding: 4px 0;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

div:focus {
    outline: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr-5 {
    padding-right: 5px;
}

.pl-5 {
    padding-left: 5px;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

.inlineBlock {
    display: block;
}

.clearfix {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

code {
    background: #eef1f6;
    padding: 15px 16px;
    margin-bottom: 20px;
    display: block;
    line-height: 36px;
    font-size: 15px;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    a {
        color: #337ab7;
        cursor: pointer;
        &:hover {
            color: rgb(32, 160, 255);
        }
    }
}

.warn-content {
    background: rgba(66, 185, 131, .1);
    border-radius: 2px;
    padding: 16px;
    padding: 1rem;
    line-height: 1.6rem;
    word-spacing: .05rem;
    a {
        color: #42b983;
        font-weight: 600;
    }
}

//main-container全局样式
.app-container {
    padding: 20px;
}

.components-container {
    margin: 30px 50px;
    position: relative;
}

.pagination-container {
    margin-top: 30px;
}

.text-center {
    text-align: center
}

.sub-navbar {
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    transition: 600ms ease position;
    background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
    .subtitle {
        font-size: 20px;
        color: #fff;
    }
    &.draft {
        background: #d0d0d0;
    }
    &.deleted {
        background: #d0d0d0;
    }
}

.link-type,
.link-type:focus {
    color: #337ab7;
    cursor: pointer;
    &:hover {
        color: rgb(32, 160, 255);
    }
}

.filter-container {
    padding-bottom: 10px;
    .filter-item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 10px;
    }
}

//refine vue-multiselect plugin
.multiselect {
    line-height: 16px;
}

.multiselect--active {
    z-index: 1000 !important;
}

.wrapper {
    &-option {
        margin: 10px;
        &__title {
            border-bottom: 1px solid #e9eaec;
            padding: 14px 16px;
            line-height: 1;
            font-size: 14px;
        }
    }
    &-button {
        margin-bottom: 15px;
    }
}

.link-color,
.link-color:hover {
    color: #00aaff;
}

.infoTable {
    width: 100%;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    &.line-table {
        td {
            border-right: 1px solid #dedede;
            text-align: center;
            &:first-child {
                width: auto;
            }
            &:last-child {
                border: none;
            }
        }
    }
}

.infoTable tr {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dedede;
}

.infoTable tr:last-child {
    border-bottom: none;
}

.infoTable tr:nth-child(even) {
    background: #efefef;
}

.infoTable td {
    padding-left: 10px;
}

.infoTable td:first-child {
    width: 180px;
    border-right: 1px solid #dedede;
}

.infoTable td:last-child {
    padding-right: 10px // border-right: 1px solid #dedede;
}

.infoTable.nor-table td:first-child {
    width: auto;
    border-right: 0;
}

.split-line {
    color: #999;
    text-align: center;
}

.table-button {
    float: right;
    margin-right: 30px
}

.table-info {
    background: #efefef;
    border: 1px solid #dedede;
}

.table-info .el-form-item {
    margin-bottom: 0px;
}

.table-info .el-form-item__label {
    color: #98a6ad;
}

.wrapper-option .el-select {
    width: 100%;
}

.wrapper-option .el-range-editor {
    width: 100%;
}

// .wrapper-option .el-date-editor .el-range-separator{
//   width:10%;
// }
.wrapper-info {
    margin-bottom: 10px;
}

.wrapper-nav {
    padding: 10px 10px 5px;
}

.el-pagination {
    margin: 20px auto 0;
    text-align: center;
}
